@media only screen and (min-width: 1600px) {
    .box_about_text{
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 1440px){

    .arrow_img,
    .dropoff_img{
        width: 120%;
        height: auto;
    }

}

@media only screen and (max-width: 900px) {

    #home_section,
    #study_section,
    #aboutme_section,
    #projects_section,
    #contact_section{
    scroll-snap-type: none;
    overflow-x:visible;
    overflow-y: visible;
}

    /* #aboutme_section, */
    /* #study_section, */
    /* #projects_section, */
    #contact_section,
    .wires{
        display: none;
    }

    /* HOME PAGE */

    .box_background{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }


    .box_arrow,
    .box_dropoff{
        display: none;
    }

    .box_main{
        flex-direction: column;
        margin: 0;
        padding-top: 0;
        gap: 0;
    }

    #home_section{
        height: auto;
        position: relative;
        overflow-x: hidden;
    }

    .mobile_logo{
        position: absolute;
        display: block;
        width: 35%;
        right: 24px;
    }

    .box_writing{
        margin: 0 10vw;
        margin-top: 150px;
        font-size: 1.8em;
        line-height: 1.5em;
    }

    #box_rails{
        display: none;
    }

    .mobile_rails{
        display: flex;
        flex-direction: column;
        /* background-color: blue; */
        width: 100vw;
        height: auto;
        margin-bottom: 100px;
    }

    .mobile_boxes{
        display: flex;
        align-items: flex-end;
    }

    .top-rail{
        height: 30vh;
        width: 100vw;
        /* background-color: bisque; */
    }

    .bot-rail{
        height: 30vh;
        width: 100vw;
        /* background-color: red; */
    }

    .mobile_devider{
        display: block;
        z-index: 2;
    }



    /* ABOUT ME PAGE */

    #aboutme_section{
        height: auto;
    }

    .box_about_main{
        flex-direction: column;
        margin: 0 10vw;
        margin-bottom: 100px;
        width: auto;
        height: auto;
        gap: 0;
    }

    .mobile_aboutme_sign{
        width: 100%;
    }

    .box_about_text{
        text-align: center;
        font-size: 1.5em;
    }

    .aboutme_rails{
        display: none;
    }


    /* SKILL PAGE */

    .box_study_main{
        flex-direction: column;
        margin: 0 10vw;
        width: auto;
        height: auto;
    }

    .main_skillSign{
        display: none;
    }

    .mobile_skillSign{
        display: block;
        width: 100%;
        margin: auto;
    }

    .box_study_sign{
        margin-top: 0;
        height: auto;
    }

    .box_study_text{
        margin: 8vw auto;
    }

    .table_skills{
        display: none;
    }

    .mobile_table_skills{
        display: block;
        font-size: 1.3em;
        text-align: center;
    }

    .progressbar{
        width: 100%;
        margin-bottom: 30px;
    }

    #study_section{
        height: auto;
    }





}

@media only screen and (max-width: 700px) {
    .box_writing{
        margin-top: 110px;
        font-size: 1.4em;
        line-height: 1.5em;
    }



}

@media only screen and (max-width: 500px) {

    .box_writing{
        margin-top: 50px;
        font-size: 0.8em;
        line-height: 1.5em;
    }

    .top-rail,
    .bot-rail{
        height: 20vh;
    }

    .box_about_text{
        margin-top: -8px;
        font-size: 0.85em;
    }

    .box_about_main{
        margin-bottom: 4vw;
    }
}